/*  Phone screen 320 X 650 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  background-image: url(./images/best-coffee.png);
  background-size: center;
  background-repeat: no-repeat;
  background-color: #101010;
  color: #f9eed9;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

h1 {
  padding-top: 1em;
}

.order-form input {
  border: 2px solid #ead9bd;
  border-radius: 50em;
  color: #101010;
  padding: 4px 8px;
  margin: 0 10px;
  font-weight: bold;
}

select {
  border: 2px solid #ead9bd;
  border-radius: 50em;
  color: #101010;
  padding: 4px 8px;
  margin: 0 10px;
  font-weight: bold;
}

#submit {
  border: 2px solid #ead9bd;
  border-radius: 50em;
  color: #101010;
  padding: 4px 8px;
  margin-top: 2em;
  margin-bottom: 4em;
  font-weight: bold;
}

#submit:hover {
  background-color: #f9eed9;
  color: #101010;
}

nav {
  padding-top: 4em;
  margin-bottom: 0;
}

.home-button {
  border: 2px solid #101010;
  border-radius: 50em;
  color: #101010;
  padding: 4px 8px;
  margin: 0 10px;
  font-weight: bold;
}

.tagline h3 {
  background-color: #101010;
  text-align: center;
  font-size: large;
}

.tagline p {
  background-color: #101010;
  text-align: center;
  padding-bottom: 1em;
  font-size: medium;
  font-style: italic;
}

.footer {
  background-color: #101010;
  font-size: x-small;
  text-align: center;
  padding-top: 1.3em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Media Query 1 (490 - 699) */

@media screen and (min-width: 490px) {
  main {
    margin: 6em auto;
  }

  .tagline h3 {
    text-align: center;
    font-size: x-large;
  }

  .tagline p {
    text-align: center;
    padding-bottom: 1em;
    font-size: large;
    font-style: italic;
  }

  .footer {
    font-size: small;
    text-align: center;
    padding-top: 1.3em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* Media Query 2 (700-1024) */

@media screen and (min-width: 700px) {
  main {
    margin: 0 auto;
  }
  .home-button {
    border: 2px solid #f9eed9;
    border-radius: 50em;
    color: #f9eed9;
    background-color: #101010;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0 10px;
    font-weight: bold;
  }
}

/* Media Query 3 Desktop Size (1025 +) */

@media screen and (min-width: 1025px) {
  body {
    background-size: cover;
  }
}
